* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background-color: #161a1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------- logo ---------- */
.logo {
  position: relative;
  height: 230px;
  text-align: center;
  padding: 40px;
}

.logo::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 100px;
  transform: translate(25px, 20px);
  border: 5px solid #fcd535;
  box-shadow: 0px 0px 40px 10px #fcd535;
  transition: 1s;
}

.logo:hover::before {
  box-shadow: 0px 0px 70px 10px #fcd535;
  transition: 1s;
}

.logo:hover .logo__img {
  transform: scale(1.1);
  transition: 1s;
}

.logo__img {
  position: relative;
  height: 150px;
  transition: 1s;
  z-index: 1;
}

/* ---------- project field, inputs, results ---------- */
.encrypt-field {
  display: flex;
  justify-content: center;
}

.encrypt,
.decrypt {
  padding: 0 20px;
}

.encrypt__input,
.decrypt__input,
.decrypt__key {
  display: block;
  width: 350px;
  height: 40px;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid white;
  font-size: 15px;
  transition: 0.5s;
}

.encrypt__input::placeholder,
.decrypt__input::placeholder,
.decrypt__key::placeholder {
  font-size: 15px;
}

.encrypt__input:focus,
.decrypt__input:focus,
.decrypt__key:focus {
  outline: 1px solid white;
  border: 2px solid white;
  box-shadow: 0 0 5px 1px white;
  transition: 0.5s;
}

.decrypt__key {
  width: 200px;
}

.encrypt__button,
.decrypt__button {
  margin-top: 20px;
}

.encrypt__button,
.decrypt__button {
  width: 120px;
  height: 45px;
  background-color: #1e2026;
  border-style: none;
  border-bottom: 2px solid #12cb68;
  color: #12cb68;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: 0.5s;
}

.encrypt__button:hover,
.decrypt__button:hover {
  box-shadow: 0 0 10px 1.5px #12cb68;
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.results-field {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.encrypt-results {
  display: grid;
  grid-template-areas: "res-title res-area" "key-title key-area";
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-row-gap: 40px;
}

.encrypt-results,
.decrypt-results {
  width: 390px;
  padding: 0 20px;
}

.decrypt-results {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 40px;
}

.result__title--encrypt,
.result__title--decrypt,
.key__title {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #12cb68;
}

.result__title--encrypt {
  grid-area: res-title;
}

.key__title {
  grid-area: key-title;
}

.encrypt__result,
.encrypt__key,
.decrypt__result {
  overflow-wrap: break-word;
  padding: 0 10px;
  font-size: 20px;
  color: white;
  width: 250px;
  border-bottom: 2px solid rgba(187, 53, 192, 0.4);
  background-color: #1e2026;
}

/* ---------- footer ---------- */
.footer {
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  color: #fcd535;
  font-size: 18px;
}

.github {
  position: relative;
  text-decoration: none;
  color: #fcd535;
}

.github-logo {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -10px;
  left: -45px;
}
/*# sourceMappingURL=style.css.map */