* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$logo-color: #fcd535;

.wrapper {
    height: 100vh;
    background-color: #161a1e;
}

/* ---------- logo ---------- */

.logo {
    position: relative;
    height: 230px;
    text-align: center;
    padding: 40px;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 100px;
        transform: translate(25px, 20px);
        border: 5px solid $logo-color;
        box-shadow: 0px 0px 40px 10px $logo-color;
        transition: 1s;
    }
    &:hover::before {
        box-shadow: 0px 0px 70px 10px $logo-color;
        transition: 1s;
    }
    &:hover .logo__img {
        transform: scale(1.1);
        transition: 1s;
    }
}

.logo__img {
    position: relative;
    height: 150px;
    transition: 1s;
    z-index: 1;
}

/* ---------- project field, inputs, results ---------- */

.encrypt-field {
    display: flex;
    justify-content: center;
}

.encrypt,
.decrypt {
    padding: 20px;
}

.encrypt__input,
.decrypt__input,
.decrypt__key {
    display: block;
    width: 300px;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
}

.decrypt__key {
    width: 200px;
}

.encrypt__button,
.encrypt__result,
.encrypt__key,
.decrypt__button,
.decrypt__result {
    margin-top: 20px;
}